@font-face {
	font-family: 'Circular';
	src: url('./../fonts/Circular/Circular-Std-Book.ttf');
	font-weight: 450;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Circular';
	src: url('./../fonts/Circular/Circular-Std-Medium.ttf');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Circular';
	src: url('./../fonts/Circular/Circular-Std-Bold.ttf');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}
