:root {
	--container-width: 1230px;
	--container-padding: 15px;

	--font-main: 'Circular', sans-serif;
	--line-height: 1.5;
	--font-weight: 450;

	--color-000: #ffffff;
	--color-001: #35aff4;
	--color-002: #181818;
	--color-003: #454545;
	--color-004: #909090;
	--color-005: #9090904d;
	--color-006: #d9d9d9;
	--color-007: #00000033;
	--color-008: #f9b811;
	--color-009: #9e9e9e;
	--color-010: #000000;
	--color-011: #b7b7b7;
	--color-012: #b0b0b0;
	--color-013: #ffffffcc;
	--color-014: #ababab;
	--color-015: #f0f0f0;
	--color-016: #505050;
	--color-017: #e6f5fe;
}