.form {
	display: grid;
	grid-template-columns: 1fr auto 1fr auto;
	align-items: center;
	gap: 16px;

	padding: 12px 16px;

	border-radius: 16px;
	border: 1px solid var(--color-007);
	background: var(--color-000);

	@include media-breakpoint(md) {
		grid-template-columns: 180px auto;
		align-self: start;
		gap: 28px 16px;
	}

    &__label {
		position: relative;

		display: grid;
		gap: 8px;

		padding-left: 36px;

		span {
			color: var(--color-002);
			font-weight: 500;
			line-height: 1.2;
		}

		&::before {
			content: '';

			position: absolute;
			top: 0;
			left: 0;

			width: 24px;
			height: 24px;

			background-repeat: no-repeat;
		}
	}

	&__label--location {
		&::before {
			background-image: url(./../img/icons/map.svg);
		}
	}

	&__label-datetime {
		&::before {
			background-image: url(./../img/icons/calendar.svg);
		}

		@include media-breakpoint(md) {
			grid-row: 2 / 3;
		}
	}

    &__input {
		color: var(--color-002);
		font-size: 16px;

		&::placeholder {
			font-size: 14px;
			line-height: 1.2;
		}
	}

	&__divider {
		width: 1px;
		height: 24px;

		background: var(--color-004);

		@include media-breakpoint(md) {
			display: none;
		}
	}

    &__search-btn:hover &__search-btn-color {
		fill: #5cc2eb;
	}

	&__search-btn {
		svg {
			vertical-align: bottom;
		}

		@include media-breakpoint(md) {
			grid-row: 1 / 3;
		}
	}
}

