.nav {
    &__list {
		display: flex;
		gap: 24px;

		padding: 0 29px;

		a {
			color: var(--color-002);
		}

		a:hover, a.active {
			color: var(--color-001);
		}
	}
}

@include media-breakpoint(md) {
	.nav {
		display: none;
	}
}

